@charset "utf-8";

/* 全ての要素とその前後の要素に対する設定 */
*,
::before,
::after {
  padding: 0; /* 内側の余白を0に設定 */
  margin: 0; /* 外側の余白を0に設定 */
  box-sizing: border-box; /* ボックスのサイズ計算をborder-boxモデルに設定 */
}

/* リスト要素に対する設定 */
ul,
ol {
  list-style: none; /* リストマーカーを非表示に設定 */
}

/* リンク要素に対する設定 */
a {
  color: inherit; /* 色を親要素から継承 */
  text-decoration: none; /* 下線を非表示に設定 */
}

/* main要素に適用するスタイル */
main {
  font-size: 62.5%; /* フォントサイズを62.5%に設定 */
  display: flex; /* main要素内をフレックスボックスとして扱う */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 縦方向の位置を中央にする */
  margin-top: 4rem; /* 上部に4remのマージンを追加 */
  margin-bottom: 4rem; /* 下部に4remのマージンを追加 */
}

/* table要素に適用するスタイル */
table {
  width: 8rem; /* テーブルの幅を8remに設定 */
  display: flex; /* テーブルをフレックスボックスとして扱う */
  justify-content: center; /* テーブル内のアイテムを水平方向の中央に配置 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  align-items: center; /* テーブル内のアイテムを垂直方向の中央に配置 */
}

/* td要素に適用するスタイル */
td {
  flex: 1; /* td要素が均等にスペースを分けるように設定 */
  padding: 0.5rem; /* td要素に0.5remのパディングを追加 */
}

/* body要素に対する設定 */
body {
  font-family: sans-serif; /* フォントをサンセリフに設定 */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  color: #000000; /* 文字色を黒に設定 */
  line-height: 1; /* 行の高さを1に設定 */
  background-color: #ffffff; /* 背景色を白に設定 */
}

/* button要素に適用するスタイル */
button {
  font-size: large; /* ボタンのフォントサイズを大きく設定 */
  font-weight: bold; /* ボタンの文字を太くする */
  width: 20rem; /* ボタンの幅を20remに設定 */
  height: 7em; /* ボタンの高さを7emに設定 */
  display: flex; /* ボタンの内部をフレックスボックスとして扱う */
  justify-content: center; /* ボタン内のアイテムを水平方向の中央に配置 */
  align-items: center; /* ボタン内のアイテムを垂直方向の中央に配置 */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* 各ボタンに適用する背景画像とそのスタイル */
.bus-button,
.lunch-button,
.class-button,
.todo-button {
  background-size: 100% auto; /* 背景画像の横幅をボタンの横幅に合わせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  background-color: rgb(249, 249, 249); /* 背景色を白に設定 */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;/* 日付を太字にするスタイル */
.task-date {
  font-weight: bold;
}
  text-shadow: 1px 1px 10px #b6781c;
}

.bus-button {
  background-image: url('../img/bus.jpg'); /* バスボタンの背景画像を設定 */
}

.lunch-button {
  background-image: url('../img/lunch.jpg'); /* ランチボタンの背景画像を設定 */
}

.class-button {
  background-image: url('../img/map.jpg'); /* クラスボタンの背景画像を設定 */
}

.todo-button {
  background-image: url('../img/ToDo.jpg'); /* ToDoボタンの背景画像を設定 */
}