@charset "utf-8";

/* 全ての要素とその前後の要素に対する設定 */
*,
::before,
::after {
  padding: 0; /* 内側の余白を0に設定 */
  margin: 0; /* 外側の余白を0に設定 */
  box-sizing: border-box; /* ボックスのサイズ計算をborder-boxモデルに設定 */
}

/* リスト要素に対する設定 */
ul,
ol {
  list-style: none; /* リストマーカーを非表示に設定 */
}

/* リンク要素に対する設定 */
a {
  color: inherit; /* 色を親要素から継承 */
  text-decoration: none; /* 下線を非表示に設定 */
}

/* body要素に対する設定 */
body {
  font-family: sans-serif; /* フォントをサンセリフに設定 */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  color: #000000; /* 文字色を黒に設定 */
  line-height: 1; /* 行の高さを1に設定 */
  background-color: #ffffff; /* 背景色を白に設定 */
}

/* main要素に適用するスタイル */
main {
  font-size: 62.5%; /* フォントサイズを設定 */
  display: flex; /* Flexboxを使用 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  flex-direction: column; /* 縦方向に要素を並べる */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 縦方向の位置を中央にする */
  margin-bottom: 5.0rem;
}

form {
    font-size: 62.5%; /* フォントサイズを設定 */
  display: flex; /* Flexboxを使用 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 縦方向の位置を中央にする */
  margin-top: 3.0rem; /* 上部にマージンを追加 */
  margin-bottom: 5.0rem; /* 下部にマージンを追加 */
}

#input-area {
  margin-bottom: 2.0rem; /* 入力エリアと出力エリアの間にマージンを追加 */
}

#task-output {
  margin-top: 1.0rem; /* 上部にマージンを追加 */
}