/* 全ての要素に適用するスタイル */
* {
  text-align: center;
}
/* div要素に適用するスタイル */
div {
  font-size: 3em;
}
/* ヘッダーのスタイル */
.header {
  background-color: #f2f2f2; /* 背景色を薄い灰色に設定 */
  padding: 20px; /* パディングを20pxに設定 */
  text-align: center; /* テキストを中央揃えに設定 */
}

/* ボタンのスタイル */
.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container button {
  font-size: large;
  width: 80%;
  height: 4em;
  margin: 0 10px; /* 左右に10pxのマージンを追加 */
}
