@charset "utf-8";

/* 全ての要素とその前後の要素に対する設定 */
*,
::before,
::after {
  padding: 0; /* 内側の余白を0に設定 */
  margin: 0; /* 外側の余白を0に設定 */
  box-sizing: border-box; /* ボックスのサイズ計算をborder-boxモデルに設定 */
}

/* リスト要素に対する設定 */
ul,
ol {
  list-style: none; /* リストマーカーを非表示に設定 */
}

/* リンク要素に対する設定 */
a {
  color: inherit; /* 色を親要素から継承 */
  text-decoration: none; /* 下線を非表示に設定 */
}

/* htmlとbody要素の高さを100%に設定 */
html,
body {
  height: 100%;
}

/* body要素に対する設定 */
body {
  font-family: sans-serif; /* フォントをサンセリフに設定 */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  color: #000000; /* 文字色を黒に設定 */
  line-height: 1; /* 行の高さを1に設定 */
  background-color: #ffffff; /* 背景色を白に設定 */
  display: flex; /* Flexboxを使用して要素を配置 */
  flex-direction: column; /* 要素を縦方向に並べる */
}

/* title要素に適用するスタイル */
.title {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

/* main要素に適用するスタイル */
main {
  font-size: 62.5%; /* フォントサイズを設定 */
  display: flex; /* Flexboxを使用 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  flex-direction: column; /* 縦方向に要素を並べる */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 位置を中央にする */
  margin-top: 3rem; /* 上部のマージンを3remに設定 */
  margin-bottom: 3rem; /* 下部のマージンを3remに設定 */
  flex-grow: 1; /* 利用可能なスペースをすべて占めるようにする */
}

/* h1要素に適用するスタイル */
form {
  font-size: 62.5%; /* フォントサイズを設定 */
  display: flex; /* Flexboxを使用 */
  flex-wrap: wrap; /* 要素がコンテナを超える場合に折り返す */
  justify-content: space-around; /* 横方向の間隔を均等にする */
  align-items: center; /* 縦方向の位置を中央にする */
  margin-top: 3rem; /* 上部にマージンを追加 */
  margin-bottom: 3rem; /* 下部にマージンを追加 */
}

form label {
  font-size: 1rem; /* 文字を大きくする */
  color: #000000; /* 文字色を黒に設定 */
  margin-right: 0.3rem; /* 右にマージンを追加 */
}

/* 入力欄に適用するスタイル */
form input[type="text"],
form input[type="date"],
form input[type="time"],
form select{
  font-size: 1.2rem; /* 文字を大きくする */
  letter-spacing: 2.5px; /* 文字間隔を2.5pxに設定 */
  color: #000000; /* 文字色を黒に設定 */
  background-color: #e9fcfd; /* 入力欄の背景色を白色に設定 */
  border: none; /* 枠線を削除 */
  padding: 0.5rem; /* 内側の余白を追加 */
  cursor: pointer; /* マウスカーソルを指マークに変更 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); /* ボタンに影を追加（右下に2pxずらし、ぼかし15px、色は黒、透明度は10%） */
  margin-right: 1rem; /* 右にマージンを追加 */
}

/* ボタンに適用するスタイル */
form input[type="button"] {
  font-family: "Roboto", sans-serif; /* フォントをRobotoに設定、Robotoが利用できない場合はサンセリフフォントを使用 */
  font-size: 1.2rem; /* 文字を大きくする */
  text-transform: uppercase; /* テキストをすべて大文字に変換 */
  letter-spacing: 2.5px; /* 文字間隔を2.5pxに設定 */
  color: #000000; /* 文字色を白に設定 */
  background-color: #ffffff; /* ボタンの背景色を青に設定 */
  border: none; /* 枠線を削除 */
  padding: 0.5rem 1rem; /* 内側の余白を追加 */
  cursor: pointer; /* マウスカーソルを指マークに変更 */
  border: 1px solid #d9d9d9; /* 枠線を追加 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); /* ボタンに影を追加（右下に2pxずらし、ぼかし15px、色は黒、透明度は10%） */
}

.delete-button {
  font-family: "Roboto", sans-serif; /* フォントをRobotoに設定、Robotoが利用できない場合はサンセリフフォントを使用 */
  text-transform: uppercase; /* テキストをすべて大文字に変換 */
  letter-spacing: 2.5px; /* 文字間隔を2.5pxに設定 */
  color: #000000; /* 文字色を白に設定 */
  background-color: #ffffff; /* ボタンの背景色を青に設定 */
  border: none; /* 枠線を削除 */
  padding: 0.4rem 1rem; /* 内側の余白を追加 */
  cursor: pointer; /* マウスカーソルを指マークに変更 */
  border: 1px solid #d9d9d9; /* 枠線を追加 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); /* ボタンに影を追加（右下に2pxずらし、ぼかし15px、色は黒、透明度は10%） */
}

/* ボタンにマウスが乗った時のスタイル */
form input[type="button"]:hover,
.delete-button:hover {
  background-color: #000000; /* ボタンの背景色を黒に設定 */
  box-shadow: 0px 15px 20px rgba(131, 147, 140, 0.4); /* ボタンに影を追加（右下に15pxずらし、ぼかし20px、色はrgb(131, 147, 140)、透明度は40%） */
  color: #fff; /* テキストの色を白に設定 */
  transform: translateY(-3px); /* ボタンを上に7px移動 */
  transition: all 0.3s ease 0s; /* 全てのプロパティの変化を0.3秒かけて行い、変化はゆっくりと始まりゆっくりと終わる */
}

/* 出力エリアに適用するスタイル */
#task-output p {
  font-size: 18px; /* フォントサイズを設定 */
  border: 1px solid #000000; /* 枠線を追加 */
  padding: 1rem; /* 内側の余白を追加 */
  margin-bottom: 1rem; /* 下部にマージンを追加 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); /* ボタンに影を追加（右下に2pxずらし、ぼかし15px、色は黒、透明度は10%） */
}

/* 期限切れのタスクに適用するスタイル */
.expired {
  background-color: #ffadad; /* 背景色を赤に設定 */
  border-radius: 10px; /* 角を丸くする */
}
