@charset "utf-8";

/* 全ての要素とその前後の要素に対する設定 */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* リスト要素に対する設定 */
ul,
ol {
  list-style: none;
}

/* リンク要素に対する設定 */
a {
  color: inherit;
  text-decoration: none;
}

/* htmlとbody要素の高さを100%に設定 */
html,
body {
  height: 100%;
}

/* body要素に対する設定 */
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* header要素に対する設定 */
header {
  margin-bottom: 0;
}

/* title要素に適用するスタイル */
.title {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 4rem;
}

/* main要素に適用するスタイル */
main {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  flex-grow: 1;
}

/* .button-container要素に適用するスタイル */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* button要素に適用するスタイル */
button {
  font-size: 1.5rem;
  font-weight: bold;
  width: 20rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* 各ボタンに適用する背景画像とそのスタイル */
.bus-button,
.lunch-button,
.class-button,
.todo-button {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #b6781c;
}

.task-date {
  font-weight: bold;
}

.bus-button {
  background-image: url("../../img/index-img/bus.jpg");
}

.lunch-button {
  background-image: url("../../img/index-img/lunch.jpg");
}

.class-button {
  background-image: url("../../img/index-img/map.jpg");
}

.todo-button {
  background-image: url("../../img/index-img/ToDo.jpg");
}

@media (max-width: 800px) {
  .title {
    margin-top: 3rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 25rem;
    height: 10rem;
  }
}

@media (min-width: 801px) {
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
